<div class="jmCard">

    <h3 class="jmCardTitle" [innerHTML]="overview_title"></h3>

    <div class="jmCardContent">

        <section>

            <h4 [innerHTML]="overview_content"></h4>

            <p [innerHTML]="overview_content1"></p>

            <p [innerHTML]="overview_content2"></p>

        </section>

        <section>

            <h4>{{default_description}}</h4>
            
            <j-murky-hawk-accordion 
                jmFieldId="accordionDefault"
                class="jmBackDrop"
                titleTransition="partial"
                titleTextOpen="Show"
                titleTextClosed="Hide"
                [titleText]="default_header" >
                    <p [innerHTML]="default_content"></p>
            </j-murky-hawk-accordion>

            <p>{{default_description1}}</p>

        </section>

    </div>
    
</div>
