<div class="jmCard">

    <h3 class="jmCardTitle">
        <span [innerHTML]="title_opts_title"></span>
    </h3>

    <div class="jmCardContent">

        <section class="leadIn">

            <h4>{{icon_pos_title}}</h4>

            <p>{{icon_pos_description2}}</p>

            <div class="jmBackDrop titleCard">

                <p class="jmBackDropHead">{{icon_pos_l_description}}</p>

                <j-murky-hawk-accordion 
                    jmFieldId="accordionIconPosL"
                    class="jmBackDropContent"
                    iconAlign="left"
                    titleTransition="partial"
                    titleTextOpen="Show"
                    titleTextClosed="Hide"
                    [titleText]="icon_pos_l_header" >
                        <p>{{icon_pos_l_content}}</p>
                </j-murky-hawk-accordion>

            </div>

            <div class="jmBackDrop titleCard">

                <p class="jmBackDropHead">{{icon_pos_r_description}}</p>

                <j-murky-hawk-accordion 
                    jmFieldId="accordionIconPosR"
                    class="jmBackDropContent"
                    iconAlign="right"
                    titleTransition="partial"
                    titleTextOpen="Show"
                    titleTextClosed="Hide"
                    [titleText]="icon_pos_r_header" >
                        <p>{{icon_pos_r_content}}</p>
                </j-murky-hawk-accordion>

            </div>

        </section>

        <section>

            <h4>{{icon_type_title}}</h4>

            <p>{{icon_type_description}}</p>

            <div class="jmBackDrop titleCard v2">

                <p class="jmBackDropHead">{{icon_type_c_description}}</p>

                <j-murky-hawk-accordion 
                    jmFieldId="accordionIcon2"
                    class="jmBackDropContent"
                    iconType="chevron"
                    titleTransition="partial"
                    titleTextOpen="Show"
                    titleTextClosed="Hide"
                    [titleText]="icon_type_c_header" >
                        <p>{{icon_type_c_content}}</p>
                </j-murky-hawk-accordion>

            </div>

            <div class="jmBackDrop titleCard v2">

                <p class="jmBackDropHead">{{icon_type_pm_description}}</p>

                <j-murky-hawk-accordion 
                    jmFieldId="accordionIcon2"
                    class="jmBackDropContent"
                    iconType="plusMinus"
                    titleTransition="partial"
                    titleTextOpen="Show"
                    titleTextClosed="Hide"
                    [titleText]="icon_type_pm_header" >
                        <p>{{icon_type_pm_content}}</p>
                </j-murky-hawk-accordion>

            </div>

        </section>

        <section>

            <h4>{{title_align_title}}</h4>

            <p>{{title_align_description}}</p>

            <div class="jmBackDrop titleCard v3">

                <p class="jmBackDropHead">{{title_align_l_description}}</p>

                <j-murky-hawk-accordion 
                    jmFieldId="accordionTitleAlignL"
                    class="jmBackDropContent"
                    titleAlign="left"
                    titleTransition="partial"
                    titleTextOpen="Show"
                    titleTextClosed="Hide"
                    [titleText]="title_align_l_header" >
                        <p>{{title_align_l_content}}</p>
                </j-murky-hawk-accordion>

            </div>

            <div class="jmBackDrop titleCard v3">

                <p class="jmBackDropHead">{{title_align_c_description}}</p>

                <j-murky-hawk-accordion 
                    jmFieldId="accordionTitleAlignC"
                    class="jmBackDropContent"
                    titleAlign="center"
                    titleTransition="partial"
                    titleTextOpen="Show"
                    titleTextClosed="Hide"
                    [titleText]="title_align_c_header" >
                        <p>{{title_align_c_content}}</p>
                </j-murky-hawk-accordion>

            </div>

            <div class="jmBackDrop titleCard v3">

                <p class="jmBackDropHead">{{title_align_r_description}}</p>

                <j-murky-hawk-accordion 
                    jmFieldId="accordionTitleAlignR"
                    class="jmBackDropContent"
                    titleAlign="right"
                    titleTransition="partial"
                    titleTextOpen="Show"
                    titleTextClosed="Hide"
                    [titleText]="title_align_r_header" >
                        <p>{{title_align_r_content}}</p>
                </j-murky-hawk-accordion>

            </div>

        </section>

        <section>

            <h4>{{tag_title}}</h4>

            <p class="block" [innerHTML]="tag_description1"></p>

            <p>
                <span [innerHTML]="tag_description2"></span><br />
                <span class="codeBoxMini2 margin3" [innerHTML]="tag_code1"></span>
                <span class="codeBoxMini2 margin3" [innerHTML]="tag_code2"></span>
                <span class="codeBoxMini2 margin3" [innerHTML]="tag_code3"></span>
                <span class="codeBoxMini2 margin3" [innerHTML]="tag_code4"></span>
                <span class="codeBoxMini2 margin3" [innerHTML]="tag_code5"></span>
                <span class="codeBoxMini2" [innerHTML]="tag_code6"></span>
            </p>

            <p [innerHTML]="tag_description3"></p>

            <p>{{tag_description2_1}}</p>

            <div class="jmBackDrop titleCard v4">

                <p class="jmBackDropHead">{{tag_description}}</p>

                <j-murky-hawk-accordion 
                    jmFieldId="accordionTagType"
                    class="jmBackDropContent"
                    titleTransition="partial"
                    titleTextOpen="Show"
                    titleTextClosed="Hide"
                    [titleText]="tag_header"
                    titleTagType="h5" >
                        <p [innerHTML]="tag_content"></p>
                </j-murky-hawk-accordion>

            </div>

        </section>

    </div>

</div>