@import '../../themes';
@import '../../../styles';

nav.text {
    
    ul {
        margin: 0 0 2em 0;
        padding: 0;

        display: flex;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .25em;
        justify-content: center;
        row-gap: .5rem;

        li {
            list-style-type: none;
            margin: 0;
            padding: 0;

            a,
            a:visited,
            button,
            button:visited {
                border: 1px solid transparent !important;
                border-radius: .5rem;
                color: var(--black2);
                line-height: 1.25;
                padding: .8rem 1.2rem !important;
                text-decoration: none;

                &:hover,
                &:focus {
                    background-color: var(--blueDark4rgba2) !important;
                    border: 1px solid var(--range2) !important;
                    color: var(--black2);
                    margin: 0;
                    padding: .5em .5em;
                }

                &.active {
                    border: 1px solid var(--transparent) !important;
                    color: var(--grayLight1) !important;
                    cursor: not-allowed;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        background-color: var(--transparent) !important;
                    }
                }
            }
        }
    }

    j-murky-hawk-accordion {
        > div {
            position: relative;

            .jmAccordionHeader {
                button {
                    padding: 0;

                    .jmAccordionHeaderOpenClose {
                        margin: .25rem 0 0 .75rem !important;
                    }

                    .jmAccordionHeadText {
                        min-height: auto !important;
                    }
                }
            }
        
            .jmAccordionContent {
                background: var(--jm-acc-background);
                border: var(--jm-acc-border);
                border-radius: .5rem;
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
                color: var(--black2);
                overflow: visible;
                z-index: 100;
                
                position: absolute;
                top: calc(100% + 2px);
        
                > ul {
                    margin: 0;
                    min-width: 20rem;
                    padding: 0 !important;
        
                    display: flex;
                    flex-direction: column;
                    gap: 0;
        
                    > li {
                        display: contents;
        
                        &:first-of-type {
                            a {
                                border-top-right-radius: .5rem;
                                border-top-left-radius: .5rem;
                                padding-top: 1.6rem !important;
                            }
                        }
        
                        a {
                            border-radius: 0;
                            box-sizing: content-box;
                            padding: 1.2rem 3.2rem !important;
                            z-index: 1;
                            
                            &:focus,
                            &:hover {
                                color: var(--black);
                                z-index: 10;
                            }

                            &.active,
                            &.active:focus,
                            &.active:hover {
                                background-color: var(--grayLight2) !important;
                                color: var(--gray6) !important;
                                z-index: 1;
                            }
                        }
        
                        &:last-of-type {
                            a {
                                border-bottom-right-radius: .5rem;
                                border-bottom-left-radius: .5rem;
                                padding-bottom: 1.6rem !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

nav.button {

    ul {
        margin: 0;
        padding: 0;

        display: flex;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        li {
            list-style-type: none;
            margin: 0 0 .5em 0;
            padding: 0;

            a.button {
                background-color: $jmDemoWhite;
                border: 2px solid $jmDemoColor1;
                box-shadow: $shadow;
                color: $jmDemoColor1;
                padding: .5em;
                text-align: center;
                text-decoration: none;
                transition-duration: $transitionDuration;
                transition-property: $transitionProperty;
                transition-timing-function: $transitionTimingFunction;

                display: flex;
                align-items: center;
                flex-direction: column;
                min-width: 10em;

                &:focus,
                &:hover {
                    background-color: $jmDemoColor1;
                    border-color: $jmDemoColor1;
                    color: $jmDemoWhite !important;
                    margin: 0;
                }

                &.active {
                    background-color: var(--grayD);
                    border-color: #444444;
                    box-shadow: $shadow2;
                    color: #444444 !important;
                    cursor: not-allowed;
                }
            }

        }
    }
}

@media screen and (min-width: 768px) {

    nav.button,
    nav.text {
        ul {
            margin: 0 0 2rem 0;

            flex-direction: row;

            li {
                flex-direction: row;

                a.button {
                    display: inline-flex;
                }
            }
        }
    }
}