@import '../../themes';
@import '../../../styles';

nav.text {
    
    ul {
        margin: 0 0 1em 0;
        padding: 0;

        display: flex;
        align-items: stretch;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        li {
            list-style-type: none;
            margin: 0 1em .5em 0;
            padding: 0;

            &:last-of-type {
                margin: 0 0 1em 0;
            }

            a,
            a:visited {
                border: 1px solid transparent;
                color: var(--black2);
                padding: .5em .5em;
                text-decoration: none;

                &:hover,
                &:focus {
                    background-color: var(--blueDark4rgba2);
                    border: 1px solid var(--range2);
                    color: var(--black2);
                    margin: 0;
                    padding: .5em .5em;
                }

                &.active {
                    border: 1px solid var(--transparent);
                    color: var(--grayLight1) !important;
                    cursor: not-allowed;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        background-color: var(--transparent);
                    }
                }
            }
        }
    }
}

nav.button {

    ul {
        margin: 0;
        padding: 0;

        display: flex;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        li {
            list-style-type: none;
            margin: 0 0 .5em 0;
            padding: 0;

            a.button {
                background-color: $jmDemoWhite;
                border: 2px solid $jmDemoColor1;
                border-radius: 2px;
                box-shadow: $shadow;
                color: $jmDemoColor1;
                padding: .5em;
                text-align: center;
                text-decoration: none;
                transition-duration: $transitionDuration;
                transition-property: $transitionProperty;
                transition-timing-function: $transitionTimingFunction;

                display: inline-flex;
                align-items: center;
                flex-direction: column;
                min-width: 10em;

                &:focus,
                &:hover {
                    background-color: $jmDemoColor1;
                    border-color: $jmDemoColor1;
                    color: $jmDemoWhite !important;
                    margin: 0;
                }

                &.active {
                    background-color: var(--grayD);
                    border-color: #444444;
                    box-shadow: $shadow2;
                    color: #444444 !important;
                    cursor: not-allowed;
                }
            }

        }
    }
}

@media screen and (min-width: 768px) {

    nav.button,
    nav.text {
        ul {
            margin: 0 0 1em 0;

            flex-direction: row;

            li {
                margin: 0 .5em .5em 0;

                flex-direction: row;
            }
        }
    }
}