<nav [class]="linkStyle">

  <ul>

    @for (item of navItems; track item; let i = $index) {
      <li >
        @if (item.link) {
          <a
            [class]="linkStyle === 'button' ? 'button' : 'text' "
            [routerLink]="item.link"
            [attr.id]="listId ? listId + i : null"
            #instance="routerLinkActive"
            routerLinkActive="active"
            [title]="instance.isActive ? activeLinkTitle : '' "
            [tabindex]="instance.isActive ? -1 : null"
          (click)="linkClick(instance, listId + i)">{{item.label}}</a>
        }
        @if (!item.link) {
          <div
            #navDropdownMenu
            (clickOutside)="closeAccordion()">
            <j-murky-hawk-accordion
              #accordionMenu
              jmFieldId="navDropdown1"
              class=""
              accordionType="basic"
              [titleText]="item.label"
                    [customStylesTitle]="{
                        'color': '#ffffff',
                        'color-ro': '#ededed'
                    }"
                    [customStylesBody]="{
                        'color': '#000000'
                    }"
              [emitInfo]="true"
              (clickHeader)="accordionOutputHandler($event)"
              >
              <ul>
                @for (subItem of item.subLinks; track subItem; let lastAccordionMenuItem = $last; let i = $index) {
                  <li>
                    <a [routerLink]="subItem.link"
                      (click)="accordionMenuItemClick($event)"
                      [attr.id]="listId ? listId + i : null"
                      #instance="routerLinkActive"
                      routerLinkActive="active"
                      attr.disabled="{{instance.isActive}}"
                      [title]="instance.isActive ? activeLinkTitle : '' "
                    [tabindex]="instance.isActive ? -1 : null">{{subItem.label}}</a>
                  </li>
                }
              </ul>
            </j-murky-hawk-accordion>
          </div>
        }
      </li>
    }

  </ul>

</nav>