
@import 'themes';
@import '../styles';

$cardPad_Mobile: 4.2rem;
$cardPad_Tablet: 4.8rem;
$cardPad_Laptop: 6rem;
$cardPad_Desktop: 8.5rem;

@function setMaxWidth($addPaddingToWidth: 0) {
    @return calc($maxLineWidth + ($addPaddingToWidth * 2));
}

@mixin pageTitle {
    background-image: linear-gradient(90deg, var(--blueDark2) 25%, var(--blueDark) 85%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4.2rem;
    font-weight: 700;
    letter-spacing: -.15rem;
    line-height: 1;
    margin: 0 0 0 0;
    padding: .75rem 0;
    text-align: center;
}

html {
    color: var(--black2);
}

h2 {
    color: var(--gray2);
    letter-spacing: -.1rem;
    line-height: 1.1;
    font-size: 2em;
    text-align: center;
}

h3,
h4 {
    color: var(--gray2);
    font-size: 2rem;
    letter-spacing: -.05rem;
    line-height: 1.1;
    margin: 0;
    text-align: left;
}

h5 {
    color: var(--gray2);
    font-size: 2rem;
    line-height: 1.15;
    margin: 0 0 .5em 0;
    text-align: left;
}

a {
    color: #0000ff;
    display: inline-block;
    transition-duration: $transitionDuration;
    transition-property: $transitionProperty, margin, padding;
    transition-timing-function: $transitionTimingFunction;
    
    &:active,
    &:focus,
    &:hover,
    &:visited {
        color: #0000ff;
    }

    &:focus,
    &:hover {
        background-color: var(--highlight1);
        text-decoration: none;
    }
}

p {
    letter-spacing: -.015rem;
    line-height: 1.5;
    margin: 0;
    padding: 0 0 1.6rem 0;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

.noPadding { 
    padding: 0 !important;
}

.padding1 {
    padding: 0 0 1em 0;
}

.padding2 {
    padding: 0 0 .5em 0;
}

.noMargin {
    margin: 0 !important;
}

.margin1 {
    margin: 0 0 2em 0 !important;
}

.margin2 {
    margin: 0 0 1em 0;
}

.margin3 {
    margin: 1em 0 0 0;
}

.margin4 {
    margin: 0 0 3em 0 !important;
}

hr {
    margin: 1em 0 2.5em 0;
}

.preserveWS {
    white-space: pre;
}

ol,
ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 1em;

    li {
        padding: 0 0 .25em 0;
    }

    li.noBullet {
        list-style-type: none;
    }

}

.color1 {
    color: var(--blue3);
}

.color2 {
    color: var(--blueLight);
}

.color7 {
    color: var(--orange1);
}

.jmh {
    padding: 0 0 0 0;
    position: relative;
}

#pageHeadWrapper {
    min-height: 100svh; // Apparently, mobile chrome adds the top browser bar height when using vh

    display: flex;
    flex-direction: column;

    #pageHead {
        margin: 0;
    }
}

#pageHead {
    background: $jmGradient2;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding: .75em 3em .75em 3em;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    .pageHeadSection1 {
        color: var(--white);

        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1.5rem;

        h1, 
        h2 {
            font-size: 2.4rem;
            font-weight: 500;
            margin: 0;
        }

        > button {
            background: none;
            border: none;
            color: inherit;
            cursor: pointer;
            padding: 0;
            text-transform: capitalize;
        }

        a,
        button {
            color: var(--white);
            cursor: pointer;
            text-decoration: none;

            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 1rem;

            &:focus,
            &:hover {
                background-color: transparent;

                .logo {
                    border: 1px solid var(--white);
                    box-shadow: 0 0 .8rem rgba(255, 255, 255, .25);
                }
            }

            &.active {
                color: var(--grayD);
                cursor: default;

                &:focus, 
                &:hover {
                    .logo {
                        border: 1px solid transparent;
                        box-shadow: none;
                    }
                }

                .logo {
                    box-shadow: 0 0 0 transparent;

                    &::before {
                        border: 1px solid var(--grayD);
                    }

                    &:focus,
                    &:hover {
                        background-color: none;
                        border: 1px solid transparent;
                        cursor: not-allowed;
                    }

                    jm-svg-render svg {
                        use {
                            opacity: 0;
                        }

                        path {
                            fill: var(--grayD) !important;
                            stroke: var(--grayD) !important;
                        }
                    }
                }
            }
        }

        .logo {
            background: transparent;
            border: 1px solid transparent;
            border-radius: 50%;
            box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
            position: relative;
            transition-duration: $transitionDuration;
            transition-property: border, border-width, box-shadow;
            transition-timing-function: $transitionTimingFunction;

            height: 3.2em;
            width: 3.2em;

            display: flex;
            
            jm-svg-render svg {
                use {
                    display: none;
                    transform: rotate(-115deg);
                    transform-origin: center;
                    transition-duration: $transitionDuration2;
                    transition-property: box-shadow, opacity;
                    transition-timing-function: $transitionTimingFunction;
                }
            }

            &::before {
                border: 1px solid var(--white);
                border-radius: 50%;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            &:focus,
            &:hover {
                border: 1px solid var(--white);
                box-shadow: 0 0 .8rem rgba(255, 255, 255, .25);
            }
        }
    }

    nav.text {
        > ul {
            margin: 0;

            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;

            > li {
                // Top level (NOT accordion sub-heading) links and buttons
                > a,
                button {
                    color: var(--white);
                    line-height: 1.1;

                    &.active {
                        color: var(--grayD) !important;
                    }
                }

                a, 
                button {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

#pageHeadWrapper #pageHead j-murky-hawk-drawer {
    position: absolute;

    .jmDrawerButton {
        box-shadow: $shadow;

        &.jmDrawerShow {
            box-shadow: none;

            &:focus,
            &:hover {
                background-color: var(--blue3);
                border: 1px solid var(--range2) !important;
                box-shadow: none;
            }
        }
    }

    h1 {
        @include pageTitle;
        padding: 2rem calc(3.8rem + 3.2rem) 3rem 2rem;
        text-align: left;
    }

    j-murky-hawk-navigation nav.text {
        ul {
            display: flex;
            align-items: stretch;
            flex-direction: column;
            gap: 0;

            li {
                border-bottom: 1px solid var(--grayC);
                padding-left: 2px;
                padding-right: 2px;

                flex: 2 1 auto;

                &:last-of-type {
                    border-bottom: none;
                }

                a {
                    border-radius: 0;
                    color: var(--black2);
                    display: block;
                    padding: 2rem 2rem !important;

                    &.active,
                    &.active:focus,
                    &.active:hover {
                        background-color: var(--jmOpaqueBlackB) !important;
                        color: var(--gray5) !important;
                        margin: 0 -2px;
                    }
                }
            }
        }
    }
}

#skipLinks,
.goToPageTop {
    background-color: var(--jmLightNavBackground);
    border: 1px solid var(--white);
    border-top-right-radius: .25em;
    border-top-left-radius: .25em;
    border-bottom: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    color: var(--black2);
    cursor: pointer;
    display: block;
    font-size: 1em;
    line-height: 1em;
    opacity: 0;
    padding: .75em 1em;
    transition-duration: $transitionDuration;
    transition-property: background-color, border-color, color, opacity, top, right, bottom, left;
    transition-timing-function: $transitionTimingFunction;
    z-index: -1;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &:focus {
        opacity: 1;
    }

    &#skipLinks {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: .25em;
        border-bottom-left-radius: .25em;
        border-top: none;
        z-index: 1;

        top: -2.5em;

        &:focus {
            top: 0;
        }
    }

}

.srOnly {
    overflow: hidden;
    position: absolute;
    left: -1000%;
    height: 0;
    width: 0;
}

#subHeaderBar {
    border-bottom: 1px solid var(--gray3);
    border-top: 1px solid var(--gray3);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 0;
    padding: 6rem 2.4rem;
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;

    > div {
        display: contents;
    }

    h2 {
        @include pageTitle;
    }

    &:after {
        background-color: var(--jmLightNavBackground);
        background-image: url(../assets/images/hash-v2.svg);
        background-repeat: repeat;
        background-size: 135px;
        content: '';
        opacity: .09;
        z-index: -1;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .jmArrow {
        background: none;
        border: none;
        cursor: pointer;
        height: 5rem;
        transform: scale(.66);

        position: absolute;
        bottom: 1rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &:focus,
        &:hover {
            &::before,
            &::after {
                background-color: rgba(0, 0, 0, .5);
            }
        }

        &::before,
        &::after {
            background-color: rgba(0, 0, 0, .2);
            border-radius: 1rem;
            content: '';
            display: block;
            transition: .25s background-color linear;

            height: .75rem;
            width: 5rem;
        }

        &::before {
            border-top-right-radius: 0;
            transform: rotate(45deg);
        }

        &::after {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-bottom: .5rem;
            margin-left: -1.35rem;
            transform: rotate(-45deg);
            width: 4.25rem;
        }
    }

}

a.gitHubBtn {
    background-color: var(--blueDark);
    border: .3rem solid var(--blueDark);
    border-radius: 1rem;
    box-shadow: $shadow;
    color: var(--white);
    font-family: $fontFamilyInter;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -.015rem;
    line-height: 1.2;
    margin: 0 0 6.5rem 0;
    padding: 2rem 2.8rem;
    text-decoration: none;
    transition-duration: $transitionDuration;
    transition-property: $transitionProperty;
    transition-timing-function: $transitionTimingFunction;

    display: inline-flex;
    align-items: center;
    flex-direction: row;
    gap: 1.6rem;

    &:focus,
    &:hover {
        background-color: var(--white);
        border-color: var(--blueDark);
        color: var(--blueDark);

        svg .iconSvgFill {
            fill: var(--blueDark);
        }
    }

    svg {
        height: 1.5em;
        width: 1.5em;

        .iconSvgFill {
            fill: var(--white);
            transition-duration: $transitionDuration;
            transition-property: fill;
            transition-timing-function: $transitionTimingFunction;
        }
    }

}

#mainContent {
    background-color: var(--offWhite);
    position: relative;
    transition-duration: 500ms; // Match with the page transition speed in app-animations
    transition-property: height;
    transition-timing-function: $transitionTimingFunction;

    display: flex;
    flex-direction: column;
    align-items: stretch;    
}

.jmCard {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;

    display: flex;
    flex-direction: column;

    .jmCardTitle {
        background: var(--cardHeadColor);
        border-bottom: 1px solid var(--cardHeadBorder);
        border-radius: 0;
        color: var(--cardHeadText);
        font-size: $titleSize;
        font-weight: $titleWeight;
        letter-spacing: .025rem;
        margin: 0;
        padding: 3.2rem 0;
        text-align: left;
        text-transform: capitalize;

        transition-duration: $transitionDuration;
        transition-property: background-color, border, color;
        transition-timing-function: $transitionTimingFunction;

        > span {
            box-sizing: border-box; // Set to border-box for children overflow (codeBox) to work on smaller screens
            display: block;
            margin: 0 auto;
            max-width: setMaxWidth($cardPad_Mobile);
            padding: 0 $cardPad_Mobile;
            width: 100%; // Set to 100% for children overflow (codeBox) to work on smaller screens
        }
    }

    .jmCardContent {
        background-color: var(--cardColor);
        border-radius: 0;
        box-sizing: border-box;  // Set to border-box for children overflow (codeBox) to work on smaller screens
        color: var(--cardText);
        margin: 0 auto;
        max-width: setMaxWidth($cardPad_Mobile); // To keep line lengths reasonable
        padding: 3.2rem $cardPad_Mobile;
        transition-duration: $transitionDuration;
        transition-property: background-color, border, color;
        transition-timing-function: $transitionTimingFunction;
        width: 100%; // Set to 100% for children overflow (codeBox) to work on smaller screens

        j-murky-hawk-accordion {
            display: block;
    
            .jmAccordionContent {

                > :first-child {
                    padding-top: 1em;
                }

                > p:last-child {
                    padding-bottom: 1em;
                }

            }

            > .jmPanel {

                & + .jmAccordionContent {

                    > :first-child {
                        padding-top: 0;
                    }

                    > p:last-child {
                        padding-bottom: 0;
                    }
    
                }

            }
    
            &.accWidth1 {
                width: 66%;
            }
        }

        > section {
            padding: 0 0 3.2rem 0;

            > h3, 
            > h4 {
                display: block;
                font-size: $titleSize;
                font-weight: $titleWeight;
                letter-spacing: -.02rem;
                line-height: 1.15;
                margin: 0 0 1.6rem 0;
                text-align: left;
            }

            &.leadIn {
                // padding-top: 3.2rem;

                h3, 
                h4 {
                    margin: 0 0 1.6rem 0;
                }
            }

            > p:last-child {
                padding-bottom: 0;
            }

            > div:last-child {
                margin-bottom: 0;
            }

            j-murky-hawk-accordion.customAccordionA {
                margin: 0 0 2.7rem 0; // Bottom margin is subtracting a mystery 5px inside .jmAccordionHeadText

                button {
                    padding: 0 0 0 0 !important;
                    transition-duration: $transitionDuration;
                    transition-property: padding;
                    transition-timing-function: $transitionTimingFunction;

                    .jmAccordionHeadText {
                        color: var(--gray2);
                        font-size: $titleSize !important;
                        font-weight: $titleWeight !important;
                        line-height: 1.1 !important;
                        transition-duration: $transitionDuration;
                        transition-property: color;
                        transition-timing-function: $transitionTimingFunction;
                    }

                    &:focus,
                    &:hover {
                        .jmAccordionHeadText {
                            color: var(--gray6);
                        }
                    }
                }

                &:has(.jmAccOpen) {
                    margin: 0 0 3.2rem 0; // Bottom margin adding back mystery 5px inside .jmAccordionHeadText if open
                }

                .jmAccOpen {
                    button {
                        padding: 0 0 .8rem 0 !important;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                .subGroup:last-child {
                    .codeBox:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        > h3:first-of-type,
        > h4:first-of-type {
            margin-top: 0;
        }

        > strong {
            margin: 0 0 1.6rem 0;
        }

        > p {
            margin: 0;
            padding: 0 0 1.6rem 0;
        }

    }

}

.jmBackDrop {
    background-color: var(--jmBackDrop-Background);
    border: 1px solid var(--jmBackDrop-Border);
    border-radius: 3px;
    display: block;
    margin: 0 0 1.6rem 0;
    overflow: hidden;
    padding: 1.6rem;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: background-color, border-color, color;
    transition-property: background-color, border-color, color;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;

    &.v2 {
        padding: 2.4rem 3.2rem;
    }

    j-murky-hawk-accordion {
        margin: 0;
    }

    &.accordionStack {
        @extend .v2;

        > j-murky-hawk-accordion {
            margin: 0 0 1.6rem 0;
        }

        > j-murky-hawk-accordion:last-child {
            margin: 0;
        }
    }

    > strong,
    > h4,
    > h5,
    > h6 {
        display: block;
        font-size: 1em;
        margin: 0 0 1.6rem 0;
        font-weight: normal;
        text-align: left;
    }

    > p:last-child {
        padding: 0;
    }

    &.titleCard {
        border: none;
        padding: 0;

        .jmBackDropHead {
            background: var(--range1);
            //background: var(--blueDark4);
            color: var(--black2);
            display: block;
            font-family: $fontFamilyInter;
            font-weight: 400;
            margin: 0;
            padding: 1.2rem 2.4rem;
            text-align: center;
        }

        .jmBackDropContent {
            background: var(--range1rgbaContent);
            border: 1px solid var(--jmBackDrop-Border);
            border-top: none;
            padding: .8rem 2.4rem;
        }

        &.v2 {
            .jmBackDropHead {
                background: var(--range2);
            }
            .jmBackDropContent {
                background: var(--range2rgbaContent);
                border-color: var(--range2);
            }
        }

        &.v3 {
            .jmBackDropHead {
                background: var(--range3);
            }
            .jmBackDropContent {
                background: var(--range3rgbaContent);
                border-color: var(--range3);
            }
        }

        &.v4 {
            .jmBackDropHead {
                background: var(--range4);
            }
            .jmBackDropContent {
                background: var(--range4rgbaContent);
                border-color: var(--range4);
            }
        }

    }

}

ol.customCols,
ul.customCols {
    background-color: rgba(0, 110, 153, 0.075);
    border: 1px solid rgba(0, 110, 153, 1);
    margin: 0 0 2.4rem 0;
    overflow: auto;
    padding: 0;

    display: flex;
    flex-direction: column;

    li {
        list-style-type: none;
        padding: .8rem 2rem;

        display: flex;
        flex-direction: row;
        gap: 2.4rem;

        &:nth-child(even) {
            background-color: rgba(0, 110, 153, 0.2);
        }

        span {
            flex: 1 1 0;
            width: 50%;
        }
    }

}

ol.customCols,
ul.customCols {
    
    &.v2 {
        background-color: rgba(75, 0, 130, .075);
        border: 1px solid rgba(75, 0, 130, 1);

        li {

            &:nth-child(even) {
                background-color: rgba(75, 0, 130, .2);
            }
        }
    }
}

.jmHighlight {
    background-color: var(--jmBackDrop-Background);
    border: 1px solid var(--jmBackDrop-Border);
    border-radius: 3px;
    display: block;
    margin: 0 0 1em 0;
    overflow: hidden;
    padding: 1em;
}

.codeBox,
.codeBoxMini2 {
    background-color: var(--codeBackground);
    border: 3px solid var(--codeBorder);
    color: var(--white);
    font-family: 'Source Code Pro', monospace;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0 0 4.8rem 0;
    overflow: auto;
    padding: 1.6rem 2.4rem;

    > span {
        display: block;
    }

    code {

        &,
        pre {
            margin: 0;
        }
    }

}

.codeBoxMini2 {
    border-width: 1px;
    font-size: 1em;
    line-height: 1em;
    margin: 0 .25em 1px 0;
    padding: .25em .5em;

    display: inline-flex;
    justify-content: center;
}

footer {
    background-color: var(--jmLightNavBackground);
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, .1);
    font-size: 1.4rem;
    overflow: hidden;
    padding: 2.5em 1.5em 1.5em 1.5em;
    position: relative;

    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-items: center;

    j-murky-hawk-navigation {
        display: contents;

        nav.text {
            display: contents;
            margin-bottom: 4rem;

            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                width: 100%;

                display: grid;
                grid-template-columns: 100%;
            }
        }
    }

    small {
        p {
            padding: 0;
        }
    }

    .goToPageTop {
        border-bottom: 0px solid transparent;
        line-height: 0;
        transform: scaleY(0) translateX(-50%);
        transform-origin: bottom;
        transition-duration: $transitionDuration;
        transition-property: height, line-height, opacity, transform;
        transition-timing-function: $transitionTimingFunction;
        z-index: 0;
        
        opacity: 0;
        height: 0;
        bottom: 0;

        &:after {
            background: var(--blueDark4rgba2);
            content: '';
            display: inline-block;
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 0;
            left: 1px;
            z-index: -1;
        }

        &:focus {
            background: var(--jmLightNavBackground);
            border: 2px solid var(--range2);
            border-bottom: 0px solid transparent;
            line-height: 1em;
            opacity: 1;
            transform: scaleY(1) translateX(-50%);

            position: absolute;
            height: calc(2.5em + 2px);
        }
    }
}

/* Tablets and larger phone screens */
@media screen and (min-width: 480px) and (width < 768px) {

    #pageHeadWrapper {
        #subHeaderBar {
            padding: 7rem $cardPad_Tablet;

            gap: 2.4rem;

            h2 {
                font-size: 4.2rem;
            }
        }
    }

    .jmCard {

        .jmCardTitle {
            padding: 3.2rem 0;
            
            > span {
                padding: 0 $cardPad_Tablet;
            }
        }

        .jmCardContent {
            padding: 3.2rem $cardPad_Tablet $cardPad_Tablet;

            .jmBackDrop:not(.titleCard) {
                padding: 1.8rem 3.2rem;
            }
        }
    }

    footer {
        j-murky-hawk-navigation {
            nav.text {
                width: 100%;

                ul {
                    grid-template-columns: 33% 33%;
                }
            }
        }
    }
}

/* Desktop screens, 768px and up */

@media screen and (min-width: 768px) {

    #pageHeadWrapper {
        height: auto;
        min-height: auto;
        flex-direction: column;

        #pageHead {
            flex-direction: row;
            gap: 2.2rem;

            nav.text {
                > ul {
                    align-items: flex-end;
                    flex-direction: row;
                }
            }
        }

        #subHeaderBar {
            min-height: 30vh;
            padding: 8rem 8rem;

            display: flex;
            justify-content: center;

            > div {
                max-width: setMaxWidth($cardPad_Laptop);
                width: calc(75% + ($cardPad_Laptop * 2));

                display: flex;
                align-items: center;
                flex-direction: row;
                flex: 1;
                gap: 5rem;
                justify-content: center;

                h2 {
                    font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 4.8rem;
                    font-weight: 750;

                    flex: 1 1 30rem;
                }

                .gitHubBtn {
                    margin: 0;

                    flex: initial;
                }
            }
        }
    }

    #mainContent {

        & > :nth-child(2),
        & > :nth-child(3) {
            padding: 9.6rem 0;
        }
    }

    .jmCard {
        border: 1px solid var(--gray6);
        border-radius: .8rem;
        box-shadow: $shadow;
        box-sizing: content-box;
        margin: 0 auto 0 auto;
        max-width: setMaxWidth($cardPad_Laptop); // To keep line lengths reasonable
        width: 75%;

        .jmCardTitle {
            border-top-left-radius: .7rem;
            border-top-right-radius: .7rem;
            padding: 3.2rem 0;
            text-align: left;

            > span {
                padding: 0 $cardPad_Laptop;
                max-width: 100%;
                width: auto;
            }
        }

        .jmCardContent {
            border-radius: .7rem;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            box-sizing: content-box; // Resetting to content-box for card layout to work on larger screens
            margin: initial;
            padding: 3.2rem $cardPad_Laptop $cardPad_Laptop;
            width: auto; // Resetting to auto for card layout to work on larger screens

            > section {
                padding: 0 0 3.2rem 0;

                &:last-child {
                    padding-bottom: 0;

                    & > p:last-child {
                        padding: 0;
                    }

                    & > div:last-child {
                        margin-bottom: 0;
                    }
                }

            }
            
        }
    }

    .jmBackDrop {
        padding: 1.6rem 3.2rem;

        &.titleCard {
            padding: 0;
    
            > .jmBackDropHead {
                padding: 1.2rem 3.2rem;
            }
    
            > .jmBackDropContent {
                padding: 1.2rem 3.2rem;
            }
    
        }

        &.accordionStack {
            padding: 2.4rem 3.2rem;
        }

    }

    footer {
        j-murky-hawk-navigation {
            nav.text {
                ul {
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }

}

/* Larger laptop and desktop screens */

@media screen and (min-width: 1200px) {

    #pageHeadWrapper {
        #subHeaderBar {

            > div {
                max-width: setMaxWidth($cardPad_Desktop);

                h2 {
                    font-size: 5.2rem;
                    
                    flex-basis: 35rem;
                }
            }
        }
    }

    .jmCard {
        margin: 0 auto 0 auto;
        max-width: setMaxWidth($cardPad_Desktop); // To keep line lengths reasonable

        .jmCardTitle {

            > span {
                padding: 0 $cardPad_Desktop;
            }
        }

        .jmCardContent {
            padding: 4.2rem $cardPad_Desktop $cardPad_Desktop;

            > section {
                // padding: 0 0 3.2rem 0;
            }
        }
    }

}