
@import 'themes';
@import '../styles';

html {
    color: var(--black2);
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3,
h4 {
    font-size: 1.25em;
    line-height: 1.6em;
    margin: 0;
    text-align: left;
}

h5 {
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 0 0 .5em 0;
    text-align: left;
}

a {
    color: #0000ff;
    display: inline-block;
    transition-duration: $transitionDuration;
    transition-property: $transitionProperty, margin, padding;
    transition-timing-function: $transitionTimingFunction;
    
    &:active,
    &:focus,
    &:hover,
    &:visited {
        color: #0000ff;
    }

    &:focus,
    &:hover {
        background-color: var(--highlight1);
        text-decoration: none;
    }
}

p {
    line-height: 1.5;
    margin: 0;
    padding: 0 0 1.6rem 0;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

.noPadding { 
    padding: 0 !important;
}

.padding1 {
    padding: 0 0 1em 0;
}

.padding2 {
    padding: 0 0 .5em 0;
}

.noMargin {
    margin: 0 !important;
}

.margin1 {
    margin: 0 0 2em 0 !important;
}

.margin2 {
    margin: 0 0 1em 0;
}

.margin3 {
    margin: 1em 0 0 0;
}

.margin4 {
    margin: 0 0 3em 0 !important;
}

hr {
    margin: 1em 0 2.5em 0;
}

.preserveWS {
    white-space: pre;
}

ol,
ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 1em;

    li {
        padding: 0 0 .25em 0;
    }

    li.noBullet {
        list-style-type: none;
    }

}

.color1 {
    color: var(--blue3);
}

.color2 {
    color: var(--blueLight);
}

.color7 {
    color: var(--orange1);
}

.jmh {
    padding: 0 0 0 0;
    position: relative;
}

#pageHeadWrapper {
    min-height: 33vh; 

    display: flex;
    flex-direction: column;

    #pageHead {
        margin: 0;
    }
}

#pageHead {
    background: $jmGradient2;
    margin: 0 auto;
    padding: .75em 3em .75em 3em;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    .pageHeadSection1 {

        .logo {
            background: transparent;
            border: 1px solid transparent;
            border-radius: 50%;
            box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
            position: relative;
            transition-duration: $transitionDuration;
            transition-property: border, border-width, box-shadow;
            transition-timing-function: $transitionTimingFunction;

            height: 2.5em;
            width: 2.5em;
            
            jm-svg-render svg {
                use {
                    display: none;
                    transform: rotate(-115deg);
                    transform-origin: center;
                    transition-duration: $transitionDuration2;
                    transition-property: box-shadow, opacity;
                    transition-timing-function: $transitionTimingFunction;
                }
            }

            &::before {
                border: 1px solid var(--white);
                border-radius: 50%;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            &:focus,
            &:hover {
                border: 1px solid var(--white);
                box-shadow: 0 3px 4px rgba(0, 0, 0, .25);
            }

            &.active {
                box-shadow: 0 0 0 transparent;

                &::before {
                    border: 1px solid var(--grayD);
                }

                &:focus,
                &:hover {
                    background-color: none;
                    border: 1px solid transparent;
                    cursor: not-allowed;
                }

                jm-svg-render svg {
                    use {
                        opacity: 0;
                    }

                    path {
                        fill: var(--grayD) !important;
                        stroke: var(--grayD) !important;
                    }
                }
            }
        }
    }

    h1 {
        color: var(--white);
        font-size: 2.5em;
        font-weight: normal;
        line-height: 1.65em;
        margin: 0 auto;
        padding: 0 0 .75em 0;
        text-align: center;

        display: flex;
    
        a {
            color: var(--white);
            font-size: 1em;
            margin: 0;
            padding: .1em .5em;
            text-decoration: none;
            transition-duration: $transitionDuration;
            transition-property: $transitionProperty;
            transition-timing-function: $transitionTimingFunction;
    
            &:focus,
            &:hover {
                background-color: var(--jmOpaqueBlackB);
                cursor: pointer !important;
                margin: 0;
                padding: .1em .5em;
            }
        }
    }

    nav.text {
        > ul {
            margin: 0;

            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;

            > li {
                > a,
                button {
                    color: var(--white);
                    font-size: 1.6rem;

                    &.active {
                        color: var(--grayD) !important;
                    }
                }
            }
        }
    }
}

#skipLinks,
.goToPageTop {
    background-color: var(--jmLightNavBackground);
    border: 1px solid var(--white);
    border-top-right-radius: .25em;
    border-top-left-radius: .25em;
    border-bottom: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    color: var(--black2);
    cursor: pointer;
    display: block;
    font-size: 1em;
    line-height: 1em;
    opacity: 0;
    padding: .75em 1em;
    transition-duration: $transitionDuration;
    transition-property: background-color, border-color, color, opacity, top, right, bottom, left;
    transition-timing-function: $transitionTimingFunction;
    z-index: -1;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &:focus {
        opacity: 1;
    }

    &#skipLinks {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: .25em;
        border-bottom-left-radius: .25em;
        border-top: none;
        z-index: 1;

        top: -2.5em;

        &:focus {
            top: 0;
        }
    }

}

.srOnly {
    overflow: hidden;
    position: absolute;
    left: -1000%;
    height: 0;
    width: 0;
}

#subHeaderBar {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, .1);
    margin: 0;
    padding: 10rem 2.4rem;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;

    #subHeaderContent {
        display: contents;
    }

    &:after {
        background-color: var(--jmLightNavBackground);
        background-image: url(../assets/images/hash-v2.svg);
        background-repeat: repeat;
        background-size: 175px;
        content: '';
        opacity: .1;
        z-index: -1;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    h2 {
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 1.2;
        margin: 0 0 0 0;
        text-align: center;
    }

}

a.gitHubBtn {
    background-color: var(--blueDark);
    border: .3rem solid var(--blueDark);
    border-radius: 1rem;
    box-shadow: $shadow;
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
    padding: 2rem 3rem;
    text-decoration: none;
    transition-duration: $transitionDuration;
    transition-property: $transitionProperty;
    transition-timing-function: $transitionTimingFunction;

    display: inline-flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    min-width: 10em;

    &:focus,
    &:hover {
        background-color: var(--white);
        border-color: var(--blueDark);
        color: var(--blueDark);

        svg .iconSvgFill {
            fill: var(--blueDark);
        }
    }

    svg {
        height: 1.5em;
        width: 1.5em;

        .iconSvgFill {
            fill: var(--white);
            transition-duration: $transitionDuration;
            transition-property: fill;
            transition-timing-function: $transitionTimingFunction;
        }
    }

}

#mainContent {
    overflow: hidden;
    position: relative;
    transition-duration: 500ms; // Match with the page transition speed in app-animations
    transition-property: height;
    transition-timing-function: $transitionTimingFunction;

    display: flex;
    flex-direction: column;
    align-items: stretch;    
}

.jmCard {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;

    display: flex;
    flex-direction: column;

    .jmCardTitle {
        background: var(--cardHeadColor);
        border-bottom: 1px solid var(--cardHeadBorder);
        border-radius: 0;
        color: var(--cardHeadText);
        font-size: 1.5em;
        font-weight: normal;
        margin: 0;
        padding: .75em 2.25em;
        text-align: center;
        text-transform: capitalize;

        transition-duration: $transitionDuration;
        transition-property: background-color, border, color;
        transition-timing-function: $transitionTimingFunction;
    }

    .jmCardContent {
        background-color: var(--cardColor);
        border-radius: 5px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        color: var(--cardText);
        transition-duration: $transitionDuration;
        transition-property: background-color, border, color;
        transition-timing-function: $transitionTimingFunction;

        j-murky-hawk-accordion {
            display: block;
    
            .jmAccordionContent {

                > :first-child {
                    padding-top: 1em;
                }

                > p:last-child {
                    padding-bottom: 1em;
                }

            }

            > .jmPanel {

                & + .jmAccordionContent {

                    > :first-child {
                        padding-top: 0;
                    }

                    > p:last-child {
                        padding-bottom: 0;
                    }
    
                }

            }
    
            &.accWidth1 {
                width: 66%;
            }
        }

        > section {
            padding: 0 2.4rem 4.8rem 2.4rem;

            > h3, 
            > h4 {
                display: block;
                font-size: 2.4rem;
                line-height: 1.25;
                margin: 0 0 1.6rem 0;
                text-align: center
            }

            &.leadIn {
                padding-top: 4.8rem;

                h3, 
                h4 {
                    margin: 0 0 1.6rem 0;
                }
            }
            /*
            &:nth-child(even) {
                background: rgba(25, 31, 158, .025);
                border: 1px solid rgba(0, 0, 0, .15);
                border-right: 0;
                border-left: 0;
            }
            */
        }

        > h3:first-of-type,
        > h4:first-of-type {
            margin-top: 0;
        }

        > strong {
            margin: 0 0 1em 0;
        }

        > p {
            margin: 0;
            padding: 0 0 1em 0;
        }

        &.spacingV2 {

            > section {
                //border-bottom: 1px solid #999999;
                margin: 0 0 4em 0;
                padding: 0 0 2em 0;

                &:last-child {
                    border-bottom: none;
                    margin: 0;
                }
            }

        }

    }

}

.jmCard.card2 {
    margin: 0;

    .jmCardTitle {
        border-radius: 0;
    }

    .jmCardContent {
        padding: 0;

        section {
            margin: 0;
            padding: 3em 1.5em 2em 1.5em;
        
            &:nth-child(even) {
                //background: rgba(25, 31, 158, .025);
                //border: 1px solid rgba(0, 0, 0, .15);
                border-right: 0;
                border-left: 0;
            }

        }

    }

}

.jmBackDrop {
    background-color: var(--jmBackDrop-Background);
    border: 1px solid var(--jmBackDrop-Border);
    border-radius: 3px;
    display: block;
    margin: 0 0 1.6rem 0;
    overflow: hidden;
    padding: 1em;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: background-color, border-color, color;
    transition-property: background-color, border-color, color;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;

    j-murky-hawk-accordion {
        margin: 0;
    }

    &.accordionStack {
        j-murky-hawk-accordion {
            margin: inherit;
        }
    }

    > strong,
    > h4,
    > h5,
    > h6 {
        display: block;
        font-size: 1em;
        margin: 0 0 1em 0;
        font-weight: normal;
        text-align: center;
    }

    &.titleCard {
        border: none;
        padding: 0;

        .jmBackDropHead {
            background: var(--range1);
            //background: var(--blueDark4);
            color: #000000;
            display: block;
            margin: 0;
            padding: 1em 2em;
            text-align: center;
        }

        .jmBackDropContent {
            background: var(--range1rgbaContent);
            border: 1px solid var(--jmBackDrop-Border);
            border-top: none;
            padding: 1em;
        }

        &.v2 {
            .jmBackDropHead {
                background: var(--range2);
            }
            .jmBackDropContent {
                background: var(--range2rgbaContent);
                border-color: var(--range2);
            }
        }

        &.v3 {
            .jmBackDropHead {
                background: var(--range3);
            }
            .jmBackDropContent {
                background: var(--range3rgbaContent);
                border-color: var(--range3);
            }
        }

        &.v4 {
            .jmBackDropHead {
                background: var(--range4);
            }
            .jmBackDropContent {
                background: var(--range4rgbaContent);
                border-color: var(--range4);
            }
        }

    }

}

ol.customCols,
ul.customCols {
    background-color: rgba(0, 110, 153, 0.075);
    border: 1px solid rgba(0, 110, 153, 1);
    margin: 0 0 1.5em 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    li {
        list-style-type: none;
        padding: .5em 1em;

        display: flex;
        flex-direction: row;
        flex: 1 1 auto;

        &:nth-child(even) {
            background-color: rgba(0, 110, 153, 0.2);
        }

        span {
            width: 50%;

            &:nth-child(odd) {
                padding: 0 1.5em 0 0;
            }
        }
    }

}

ol.customCols,
ul.customCols {
    
    &.v2 {
        background-color: rgba(75, 0, 130, .075);
        border: 1px solid rgba(75, 0, 130, 1);

        li {

            &:nth-child(even) {
                background-color: rgba(75, 0, 130, .2);
            }
        }
    }
}

.jmHighlight {
    background-color: var(--jmBackDrop-Background);
    border: 1px solid var(--jmBackDrop-Border);
    border-radius: 3px;
    display: block;
    margin: 0 0 1em 0;
    overflow: hidden;
    padding: 1em;
}

.codeBox,
.codeBoxMini2 {
    background-color: var(--codeBackground);
    border: 2px solid var(--codeBorder);
    color: var(--white);
    font-family: 'Source Code Pro', monospace;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0 0 4.8rem 0;
    overflow: auto;
    padding: 1.6rem 2.4rem;

    code pre,
    code pre {
        margin: 0;
    }

}

.codeBoxMini2 {
    border-width: 1px;
    font-size: 1em;
    line-height: 1em;
    margin: 0 .25em 1px 0;
    padding: .25em .5em;

    display: inline-flex;
    justify-content: center;
}

footer {
    background-color: var(--jmLightNavBackground);
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, .1);
    font-size: 1.4rem;
    overflow: hidden;
    padding: 2.5em 1.5em 1.5em 1.5em;
    position: relative;

    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-items: center;

    nav.text {
        margin-bottom: 4rem;
    }

    small {
        p {
            padding: 0;
        }
    }

    .goToPageTop {
        border-bottom: 0px solid transparent;
        line-height: 0;
        transform: scaleY(0) translateX(-50%);
        transform-origin: bottom;
        transition-duration: $transitionDuration;
        transition-property: height, line-height, opacity, transform;
        transition-timing-function: $transitionTimingFunction;
        z-index: 0;
        
        opacity: 0;
        height: 0;
        bottom: 0;

        &:after {
            background: var(--blueDark4rgba2);
            content: '';
            display: inline-block;
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 0;
            left: 1px;
            z-index: -1;
        }

        &:focus {
            background: var(--jmLightNavBackground);
            border: 2px solid var(--range2);
            border-bottom: 0px solid transparent;
            line-height: 1em;
            opacity: 1;
            transform: scaleY(1) translateX(-50%);

            position: absolute;
            height: calc(2.5em + 2px);
        }
    }
}

/* Larger mobile tablets and desktop, 768px and up */

@media screen and (min-width: 768px) {

    #pageHeadWrapper {
        height: auto;
        flex-direction: column;

        #pageHead {
            flex-direction: row;
            gap: 5rem;

            nav.text {
                > ul {
                    align-items: flex-end;
                    flex-direction: row;
                }
            }
        }

        #subHeaderBar {
            padding: 7.5rem 7.5rem;

            display: flex;
            align-items: center;
            flex-direction: row;
            flex: 0;
            gap: 5rem;
            justify-content: center;

            #subHeaderContent {
                max-width: 50em; 

                h2 {
                    font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 5rem;
                    font-weight: 700;
                    letter-spacing: -.1rem;
                    line-height: 1.1;
                    max-width: 35rem;
                }

                .gitHubBtn {
                    margin: 0;
                }
            }
        }
    }

    #mainContent {

        & > :nth-child(2),
        & > :nth-child(3) {
            padding: 10rem 0;
        }
    }

    .jmCard {
        border: 1px solid var(--gray6);
        border-radius: 5px;
        box-shadow: $shadow;
        box-sizing: content-box;
        margin: 0 auto 0 auto;
        width: 75%;
        max-width: 50em;

        .jmCardTitle {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 2.4rem 7.5rem;
        }

        .jmCardContent {

            > section {
                //padding: 3.5em 5em;
                padding: 0 5rem 4.8rem 5rem;

                &:last-child {
                    padding-bottom: 4em;
                }

                h4,
                h5,
                h6 {
                    font-size: 2.5rem;
                    line-height: 1.25;
                    text-align: left;
                }

                p:last-child {
                    padding: 0;
                }

            }
            
        }
    }

    .jmCard.card2 {
        margin: 0 auto 0 auto;
    
        .jmCardContent {
    
            section {
                padding: 2em 3.5em 3.5em 3.5em;

                &:first-of-type {
                    padding-top: 3em;
                }
            }
    
        }
    
    }

    .jmBackDrop {
        padding: 1.5em 2em;

        &.titleCard {
            padding: 0;
    
            > .jmBackDropHead {
                padding: 1em 2em;
            }
    
            > .jmBackDropContent {
                padding: 1.5em 2em;
            }
    
        }

    }

}

/* Laptop and desktop screens */

@media screen and (min-width: 1000px) {

    .jmCard {
        margin: 0 auto 0 auto;
        width: 66%;

        .jmCardContent {

            > section {
                padding: 0 10rem 4.8rem 10rem;
            }
        }
    }

}