<div class="jmh">

    <div id="pageHeadWrapper">

        <header id="pageHead" #pageHead>

            <button id="skipLinks" #skipLinks
                (click)="skipLinksClick($event)" 
                (focus)="skipLinksFocus($event)">{{skipLinksText}}</button>

            <j-murky-hawk-drawer 
                #jmDrawer
                #jmDrawerComp
                *ngIf="buttonDrawerHideShow()"
                [@buttonDrawerHideShow]="{ 
                    value: buttonDrawerPosition(),
                    params: {
                        buttonHideShowTiming: '250ms', 
                        buttonWidth: drawerButtonInfo().size, 
                        buttonXPosition: drawerButtonInfo().xyPosition.x,
                        height: drawerButtonInfo().iconLineHeight,
                        lineSpacing: drawerButtonInfo().iconLineSpacing
                    } 
                }"
                [isDrawerButtonPositionInside]="isDrawerButtonPositionInside()"
                [drawerPosition]="buttonDrawerPosition()"
                [drawerSpeed]="drawerSpeed"
                [drawerWidth]="screenSize()"
                [drawerButtonAlign]="buttonDrawerPosition()"
                [drawerButtonInfo]="drawerButtonInfo()"
                drawerPageOverlayOpacity=".5"
                [canDocScrollWhenOpen]="false" >

                    <h1>Accordion Features</h1>

                    <j-murky-hawk-navigation 
                        navId="drawerNav"
                        listId="drawerNav"
                        [navItems]="navLinkData2"
                        linkStyle="text"
                        [linkScrollTo]="true"
                        linkScrollToId="mainContent" >
                    </j-murky-hawk-navigation>

            </j-murky-hawk-drawer>

            <div class="pageHeadSection1">
                <button (click)="skipLinksClick($event)" 
                    title="Scroll to main content" >
                    <span class="logo">
                        <jm-svg-render src="assets/images/logo-jm-color.svg"></jm-svg-render>
                    </span>
                    <h1 [innerHTML]="routeTitle" *ngIf="!showDesktopNav()"></h1>
                </button>
            </div>

            <j-murky-hawk-navigation 
                *ngIf="showDesktopNav()"
                navId="topNav"
                [navItems]="navLinkData"
                linkStyle="text">
            </j-murky-hawk-navigation>
        </header>

        <div id="subHeaderBar">
            <div id="subHeaderContent">
                <h2>{{title}}</h2>
                <a class="gitHubBtn" target="_blank" 
                    href="https://github.com/JMurkyHawk/accordion/tree/master/src/app/components/j-murky-hawk-accordion">
                    <jm-svg-render src="assets/images/github-icon.svg"></jm-svg-render>{{githubLabel}}
                </a>
            </div>
        </div>

    </div>

    <div id="mainContent" aria-live="polite" tabindex="0" #mainContent 
            [@JmhRouteAnimation]="routeIdNumber" 
            (@JmhRouteAnimation.start)="jmRouteAnimationStart($event)"
            (@JmhRouteAnimation.done)="jmRouteAnimationDone($event)">
        <router-outlet (activate)="onActivate()" ></router-outlet>
    </div>

    <footer>
        <j-murky-hawk-navigation 
            [navItems]="navLinkData2"
            linkStyle="text"
            [linkScrollTo]="true"
            linkScrollToId="mainContent" >
        </j-murky-hawk-navigation>
        <small>
            <p>{{footerNote}}</p>
        </small>
        <button class="goToPageTop" (click)="goToPageTop()">{{pageTop}}</button>
    </footer>

</div>
