/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
}

$shadow: 0 2px 2px var(--jmOpaqueBlackB);
$shadow2: inset 0 2px 2px var(--jmOpaqueBlackB);

$transitionProperty: background-color, border-color, box-shadow, color;
$transitionTimingFunction: ease;
$transitionDuration: .25s;
$transitionDuration2: .5s;

$jmDemoWhite: #ffffff;
$jmDemoColor1: rgb(21, 31, 94);

$jmGradient1: linear-gradient(145deg, rgba(180,190,255,1) 25%, rgba(255,255,255,1) 75%);
$jmGradient2: linear-gradient(145deg, var(--blueDark4) 20%, var(--blueDark2) 85%);