<div class="jmCard">

    <h3 class="jmCardTitle" [innerHTML]="opts_body_title"></h3>

    <div class="jmCardContent">

        <section class="leadIn">

            <h4>{{open_title}}</h4>
            
            <div class="jmBackDrop">
                <j-murky-hawk-accordion 
                    jmFieldId="accordionOpen"
                    [isOpenByDefault]="true"
                    titleTransition="partial"
                    titleTextOpen="Show"
                    titleTextClosed="Hide"
                    [titleText]="open_header" >
                        <p>{{open_content}}</p>
                </j-murky-hawk-accordion>
            </div>

            <p>{{open_description1}}</p>

        </section>

        <section>

            <h4>{{height_title}}</h4>

            <div class="jmBackDrop">
                <j-murky-hawk-accordion 
                    jmFieldId="accordionHeight"
                    class="jmBackDropContent"
                    titleTransition="partial"
                    titleTextOpen="Show"
                    titleTextClosed="Hide"
                    [titleText]="height_header"
                    [customHeight]="height_heightValue" >
                        <p class="padding5" 
                            [innerHTML]="height_content1  
                            + height_content2 
                            + height_content2 
                            + height_content2">
                        </p>
                </j-murky-hawk-accordion>
            </div>

            <p>{{height_description1}}</p>
            <p>{{height_description2}}</p>

        </section>

    </div>

</div>
