j-murky-hawk-accordion {
    --jm-acc-head-background: var(--blueDark);
    --jm-acc-head-background-ro: var(--blueDark4);
    --jm-acc-head-border: 2px solid var(--blueDark);
    --jm-acc-head-border-ro: 2px solid var(--blueDark4);
    --jm-acc-head-color: var(--white);
    --jm-acc-head-color-ro: var(--white);

    --jm-acc-background: var(--white);
    --jm-acc-border: 1px solid var(--blueDark);
    --jm-acc-color: var(--black);
}

.jmBackDrop.v2 {
    h4 {
        font-size: 2rem;
        margin: 0 0 2rem 0;
    }
}